{% extends "site_base.html" %}


{% block content %}
  <div class="alert alert-info">
    <p>Username: <strong>admin</strong></p>
    <p>Pass: <strong>pass</strong></p>
  </div>

  <section>
    {% if form.errors %}
      <p>Your username and password didn't match, please try again.</p>
    {% endif %}

    <form method="post" action="" class="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="id_username">Username:</label>
        {{ form.username }}
      </div>
      <div class="form-group">
        <label for="id_password">Password:</label>
        {{ form.password }}
      </div>
      {% if next %}
        <input type="hidden" name="next" value="{{ next }}" />
      {% else %}
        <input type="hidden" name="next" value="/" />
      {% endif %}
      <div class="form-group">
        <input type="submit" value="login" class="btn btn-primary" />
      </div>
    </form>
  </section>
{% endblock %}
